body {font-family:"Microsoft YaHei",SimSun,Tahoma,Arial,Helvetica,STHeiti; margin:0px; padding:0px; font-size:12px; color:#333;background:url(../images/bj.jpg) repeat left top;}
html,body,div,dl,dt,dd,ul,ol,li,form,p,pre,blockquote,th,td,h1,h2,h3,h4,h5,h6,dd,dl,dt,span,em{ margin:0; padding:0; border:0;}
*,body,ul,h1,h2{ margin:0; padding:0; list-style:none;}

div,p,td,th,dt,dd,h1,h2,h3,h4,h5,h6,span,em,i,a{ word-wrap:break-word; word-break:break-all;}
input,select,textarea,checkbox,radio{padding-left: 0.2em; vertical-align:middle; font-size:12px;}
textarea{ padding-top:5px; padding-left:5px; color:#666;}
label {cursor: pointer;}
table {border: 0;margin: 0;padding: 0;border-collapse: collapse;empty-cells: show;}
ul,li{ margin:0px; padding:0px; list-style-image: none; list-style-type: none; list-style:none;}
em { font-style:normal;}
input,select{ padding:0px 2px; vertical-align:middle;border:none;}


img{ border:none; vertical-align:middle;}
button{ vertical-align:middle;}

a{text-decoration:none;color:#727171;}
a:hover{text-decoration:underline;color:#569bc2;}

.clear{ clear:both; overflow:hidden;}
.clearall{ clear:both; height:0px; overflow:hidden;}
.font_f{ font-family:"Microsoft YaHei",SimSun;}
.font_f_hei{ font-family:"Microsoft YaHei",SimSun;}
.font_f_song{ font-family:"Microsoft YaHei",SimSun;}
.f_underline{ text-decoration:underline;}
.float_r{float:right;}
.ground{border:1px solid #e6e6e6;background:#fff;margin-bottom:15px;}
.padding-bt{padding-bottom:15px;}
.border-bt{border-bottom:0;}
.backgr{background:none;}
.input{background:url(../images/input_bj2.jpg) repeat-x left top;border:1px solid #d7d7d7;border-top:1px solid #aaa;}
.reg_btn{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left top; cursor:pointer;}


/*==========顶部公用模块 开始=============*/
.top{width:1000px;height:112px;margin:0 auto;}
.logo{float:left;width:93px;height:57px;padding:33px 0 0 6px;}
.logo a{display:block;width:93px;height:57px;background:url(../images/logo.jpg) no-repeat left top;}
.city{float:left;width:130px;padding:54px 0 0 17px;}
.city font{font-size:14px;color:#000;text-align:center;padding:0 5px;}
.city a{color:#02a0ea;margin:0;padding:0; }
.top_right{float:right;width:695px;height:112px;}
.top_right1{float:right;width:582px;height:55px;line-height:55px;font-size:12px;color:#000;text-align:right}
.top_right1 a{color:#000;}
.top_right1 a:hover{color:#02a0ea;}
.top_right1 font{font-size:12px;padding:0 10px;}
.btn1{width:94px;height:29px;background:url(../images/search_btn.png) no-repeat;float:right;margin-right:7px; cursor:pointer;}

/*菜单*/
.underPmenu { float:right; width:700px; height:56px;}
.underPmenu ul {float:right; position:relative; z-index:9999;}
.underPmenu ul li {float:left; position:relative;}
.underPmenu ul li a, .underPmenu ul li a:visited {display:block; color:#676767;font-size:16px; width:99px; height:55px; line-height:55px; text-align:center;}
.underPmenu ul li:hover a,.underPmenu ul li:hover a:visited {color:#000; font-size:20px;height:55px; line-height:55px; text-align:center; background:url(../images/nav_line.jpg) no-repeat center bottom; text-decoration:none;}
.underPmenu ul li.hover a,.underPmenu ul li.hover a:visited{color:#000; font-size:20px;width:99px; height:55px; line-height:55px; text-align:center; background:url(../images/nav_line.jpg) no-repeat center bottom;text-decoration:none;}
.underPmenu ul li i{ display:block;width:21px;height:5px; position:absolute;right:10px;top:10px;background:url(../images/hot.jpg) no-repeat;}

.underPmenu ul li ul {display: none;}

.underPmenu ul li:hover ul {display:block; position:absolute; top:56px; left:0; width:87px;padding:0 6px; border:1px solid #abccdf; background:#fff; z-index:1000;font-family:"Microsoft YaHei",SimSun;}
.underPmenu ul li:hover ul li.subline{  width:87px; height:5px; overflow:hidden;}
.underPmenu ul li:hover ul li a,.underPmenu ul li:hover ul li a:visited { font-size:12px; display:block; width:86px;_width:80px;height:27px;line-height:27px;color:#818181;border-bottom:1px solid #e3e3e3; text-align:center;background:none; text-decoration:none;}
.underPmenu ul li:hover ul li a:hover {height:27px; line-height:27px; font-size:14px; font-weight:bold; color:#2992cc; background:none; text-decoration:none;}

.underPmenu ul li a:hover {color:#000; font-size:20px;width:99px; height:55px; line-height:55px; text-align:center; background:url(../images/nav_line.jpg) no-repeat center bottom;}
.underPmenu ul li.hover {color:#000; text-decoration:none;font-size:20px;width:99px; height:55px; line-height:55px; text-align:center; background:url(../images/nav_line.jpg) no-repeat center bottom;}

.underPmenu ul li:hover ul li .w_a1{height:27px; line-height:27px; font-size:12px; display:block;background:none;color:#888888; text-align:center;}
.underPmenu ul li:hover ul li .w_a1:hover {color:#2c90cc; font-size:14px; font-weight:bold; text-align:center; }
.underPmenu ul li ul li.border_bt{border-bottom:none;}
.underPmenu ul li.underMenuLast a, .underPmenu ul li.underMenuLast a:visited { border-right:0px solid #fff; _background:none;}

/*底部*/
.footer1{width:968px;margin:0 auto; clear:both; overflow:hidden;padding:0 15px 5px 15px;}
.about{float:left;padding:0 30px 0 20px;}
.about p{height:50px;line-height:50px;font-size:14px;font-weight:bold;color:#000;}
.about ul{float:left;width:120px;}
.about ul li{height:22px;line-height:22px;}
.about ul li a{color:#595757;}
.weibo{float:right;width:245px;background:url(../images/weibo_bj.jpg) no-repeat;margin-top:35px;}
.weibo a{float:left;width:114px;height:30px;padding-top:73px;text-align:center;color:#000;font-size:14px;}
.weibo a.weibo1{background:url(../images/sina.jpg) no-repeat center 10px;}
.weibo a.weixin1{background:url(../images/weixin2.jpg) no-repeat center 10px;}
.weibo a.weixin2{background:url(../images/weixin2.jpg) no-repeat center 10px;}

.service{float:right;width:280px;margin-top:10px;border-left:1px solid #e0edf4;}
.service p{height:25px;line-height:25px;font-size:14px;color:#000;font-weight:bold;padding-left:20px;}
.service1{width:235px;margin:0 auto; position:relative;height:130px;}
.service1 div{ position:absolute;height:24px;line-height:24px;padding:0 20px;background:#e0edf4;border-radius: 3px;}
.service1 div a{color:#218198;}
.diagnosis3{left:0;top:40px;}
.diagnosis{right:0;top:15px;}
.diagnosis2{left:66px;top:90px;}

.footer2{width:100%;border-top:9px solid #9b0000;margin-top:35px;background:#fafafa;}
.footer2_1{width:1000px;margin:0 auto;text-align:center;height:45px;padding-top:25px;}
.footer2_1 img{margin:0 10px;}
.footer2_2{width:1000px;text-align:center;line-height:20px;color:#595757;margin:0 auto;padding-top:20px;height:105px;}
.footer2_2 font{color:#000;font-size:12px;}

/*==========顶部公用模块 结束=============*/

.n_top{width:100%;height:159px;margin:0 auto;background:url(../images/n_topbj.jpg) repeat-x left top; }
.n_top1{width:1000px;height:110px;margin:0 auto;}
.n_top2{width:1000px;height:45px;margin:0 auto;}
.n_top3{width:100%;height:29px;background:#545652;}
.n_top4{width:930px;margin:0 auto;height:29px;line-height:29px;padding:0 15px;font-size:12px;}
.n_top4_left{float:left;width:390px;color:#d5d5d5; }
.n_top4_left font{float:left;font-size:12px;padding-right:10px;}
.n_top4_left a{float:left;padding-top:3px;}
.n_top4_right{float:right;width:480px;text-align:right;color:#fff;}
.n_top4_right a{color:#fff;padding:0 5px;}

/* 2013-11-18 */
.weibo_line{float:left;height:120px;width:15px;margin-top:25px;border-right:1px solid #e0edf4;}
