.kong{height:145px;}
.kong2{height:85px;}
.padd{padding:25px 0 10px 0;}
.mt20{margin-top:20px;}

/* 登录 login */
.login{width:100%;height:568px;margin:0 auto;background:url(../images/login_bj1.jpg) no-repeat center top;}
.login1{width:982px;margin:0 auto;padding:80px 18px 0 0; clear:both; overflow:hidden;}
.login2{float:right;width:332px;}
.login2_1{height:49px;background:url(../images/login_top.jpg) no-repeat left top;text-align:center;padding-top:50px;font-size:20px;color:#fff;}
.login2_2{width:313px;background:#fff;border-right:1px solid #ddd;border-left:1px solid #ddd;margin-left:8px;padding-top:10px;}
.login2_2 table{width:265px;margin:0 auto;}
.login2_2 table tr th{font-size:14px;color:#000;height:37px;line-height:28px;text-align:right;padding-right:5px;font-weight:normal;}
.login2_2 table tr td{height:37px;}
.login2_2 table tr td input{float:left;width:172px;height:26px;line-height:26px;}
.login2_2 table tr td input.code{width:108px;}
.login2_2 table tr td img{margin-left:5px;float:left;}
.login3{width:178px;height:64px;padding:23px 0 0 90px;}
.login3 input{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -180px; cursor:pointer;}
.login3 a{padding-left:10px;color:#eb7400;}
.login4{width:267px;height:56px;margin:0 auto;border-top:1px solid #d2d4d7;line-height:33px;color:#a0a3a7;text-align:center;}
.login5{width:315px;height:54px;margin-left:8px;background:url(../images/login_ft.jpg) no-repeat;}

/* 注册 registered */
.registered{float:left;color:#000;line-height:112px;padding-left:23px;font-size:18px;}
.registered_title{width:100%;height:97px;background:url(../images/registered_bj.jpg) repeat-x left top;}
.registered_title1{width:1000px;height:96px;margin:0 auto;background:url(../images/registered_ad.jpg) no-repeat center center;}
.registered_title2{width:100%;height:35px;background:url(../images/registered_title.jpg) repeat-x left top;border-bottom:3px solid #cde2ec;}
.registered_title3{width:1000px;line-height:35px;margin:0 auto;}
.registered_title3 font{float:left;padding-left:20px;font-size:14px;font-weight:bold;color:#4293c0;}
.registered_title3 span{float:right;padding-right:15px;font-size:12px;color:#666;}
.registered_title3 span a{color:#f67a00;}
.registered_main{width:910px;margin:0 auto;background:url(../images/people.jpg) no-repeat right 40px;padding-top:50px;}

.table1 tr th{text-align:right;font-weight:normal;color:#000;}
.table1 tr td{height:45px;line-height:28px;}
.table1 tr td input{float:left;width:204px;height:26px;line-height:26px;}
.table1 tr td input.input1{width:94px;margin:0 10px 0 0;}
.table1 tr td img{float:left;width:54px;height:33px;margin-left:7px;}
.table1 tr td font{float:left;padding-left:10px;line-height:28px;font-size:12px;color:#333;}
.terms_title{height:35px;line-height:35px;padding-top:7px;}
.terms_title input{float:left;margin-top:11px;border:0;background:none;}
.terms_title font{float:left;font-size:12px;padding-left:10px;}
.terms{width:604px;height:120px;padding:10px;border:1px solid #e6e6e6;background:#fff; overflow:hidden; overflow-y:auto;line-height:21px;color:#666;}
.btn2{wdith:1000px;padding:25px 0;margin:0 auto;text-align:center;}

/*注册成功 registered_ok*/
.reg_ok{width:565px;margin:0 auto; clear:both; overflow:hidden;padding:105px 0 20px 0;}
.reg_ok1{float:left;width:120px;height:115px;background:url(../images/reg_ok.jpg) no-repeat left top;}
.reg_ok2{float:right;width:420px;font-size:18px;color:#000;}
.reg_ok2 font{font-size:28px;color:#f87a01;line-height:62px;padding-top:15px;}
.reg_ok_btn{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -30px; cursor:pointer;}

/*信贷经理入驻 manager*/
.back_home3{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -390px; cursor:pointer;}

/* 会员中心 members */
.members{width:1000px;margin:0 auto;padding:38px 0 40px 0;}
.members_left{float:left;width:192px;}
.members_left1{width:192px;height:53px;background:url(../images/members_left1.png) no-repeat left top;}
.members_left1 h1{background:url(../images/members_pic2.jpg) no-repeat left center;width:115px;line-height:44px;color:#fff;font-size:16px;margin:0 auto;padding-left:35px;}
.members_left2{width:174px;height:367px;border:1px solid #e6e6e6;border-top:0;background:url(../images/members_left2bj.jpg) repeat-x left top;margin-left:8px;}
.members_left2 ul{padding-top:7px;}
.members_left2 ul li{padding-left:20px;border-bottom:1px solid #e6e6e6;}
.members_left2 ul li a{display:block;width:135px;line-height:44px;font-size:14px;color:#767676;}
.members_left2 ul li a:hover{text-decoration:none;line-height:50px;font-size:18px;color:#408dab;background:url(../images/members_pic.png) no-repeat right center;}
.members_left2 ul li a.hover2{text-decoration:none;line-height:50px;font-size:18px;color:#408dab;background:url(../images/members_pic.png) no-repeat right center;}
.members_right{float:right;width:790px;padding:1px;min-height:418px;height:100%;_height:418px;}
.members_right2{padding:0 29px;background:url(../images/members_right.jpg) repeat-x left top;}
.members_right2 table tr th{height:38px;line-height:38px;color:#000;font-weight:normal;}
.members_right2 table tr td{height:33px;line-height:33px;color:#333;border-bottom:1px dashed #979797;text-align:center;}
.members_right2 table tr td a{color:#408dab;}
.me_next{text-align:right;height:28px;line-height:28px;}
.me_next a{padding:5px 8px;margin-right:6px;border:1px solid #ebebeb;font-size:12px;color:#848381;font-weight:bold;}
.me_next a:hover{padding:5px 1px;*padding:1px;border:1px solid #90bad2;color:#fff; text-decoration:none;}
.me_next a:hover em{padding:4px 7px;background:#90bad2;}
.me_next span{color:#b2b2b2;padding:0 15px;}
.me_next span font{color:#fe0002;font-size:12px;}

/*信用评分器 score*/
.back_home{float:right;line-height:100px;padding-right:10px;}
.back_home a{font-size:14px;color:#004f94;}
.score{width:100%;height:56px;background:url(../images/score_line.jpg) repeat-x left top;margin:0 auto;}
.score1{width:960px;padding-left:40px;height:68px;line-height:68px;margin:0 auto;}
.score1 b{float:left;font-size:30px;color:#4c4c4c;}
.score1 b em{font-size:16px;font-weight:normal;}
.score1 span{float:right;font-size:18px;color:#4c4c4c;}
.score1 span font{font-size:32px;color:#ff8327;}
.score2{width:998px;margin:0 auto;padding-bottom:30px;margin-bottom:15px;}
.score2_left{float:left;width:307px;height:307px;padding:37px 0 0 76px;background:url(../images/score_pic.jpg) no-repeat right bottom;text-align:center;}
.score2_left font{display:block;padding-top:125px;font-size:12px;color:#82a0ab;}
.score2_left p{line-height:63px;font-size:34px;font-weight:bold;color:#4e6e7b;}
.score2_right{float:right;width:508px;padding:95px 0 10px 0;}
.score2_right p{line-height:25px;}
.score2_right p b{font-size:14px;color:#4c4c4c;}
.score2_right p font{font-size:12px;color:#a2a2a2;}
.score_right1{height:75px;padding:5px 0 0 0;}
.score_right1 input{width:172px;height:26px;line-height:26px;font-weight:bold;}
.score_right1 span{padding-left:5px;}
.score_right2{ clear:both; overflow:hidden;}
.score_right2 input{float:left;height:29px;margin-right:16px; cursor:pointer;}
.score_btn1{width:94px;background:url(../images/btn.jpg) no-repeat left -60px;}
.score_btn2{width:94px;background:url(../images/btn.jpg) no-repeat left -90px;}
.score3{width:995px;margin:0 auto;text-align:right;height:35px;}
.score3 a{font-size:14px;color:#004f94;}
.score4{width:995px;margin:0 auto;text-align:center;height:24px;}
.score4 a{font-size:14px;color:#004f94;}
.score5{width:995px;margin:0 auto;text-align:center;height:30px;}
.score5 a{color:#ff8327;}

/*信用评分器用户类型选择 score_choose*/
.choose1{float:left;width:229px;padding:20px 80px 0 140px;}
.choose1_1{width:229px;height:229px;background:url(../images/choose1.jpg) no-repeat left top;}
.choose1_2{width:229px;height:229px;background:url(../images/choose2.jpg) no-repeat left top;}
.choose1 p{height:52px;line-height:52px;font-size:18px;color:#4c4c4c;text-align:center;}
.choose1 span{display:block;text-align:center;}
.choose1 a{color:#fe7800;}
.choose2{width:945px;margin:0 auto;font-size:14px;color:#555;text-align:center;line-height:25px;}
.choose2 a{color:#ff5f01;}

/*计算结果 score_results*/
.res_left{float:left;width:307px;height:307px;padding:37px 0 0 76px;background:url(../images/score_results.jpg) no-repeat right bottom;text-align:center;}
.res_left font{display:block;padding-top:125px;font-size:12px;color:#82a0ab;}
.res_left p{line-height:63px;font-size:36px;color:#3d88db;}
.res_right{height:140px;}
.res_right h1{font-size:24px;color:#4c4c4c;height:40px;font-weight:normal;}
.res_right p{font-size:12px;color:#4c4c4c;}
.res_right p b{font-size:28px;color:#ff6b0d;font-weight:normal;}
.res_btn{width:133px;background:url(../images/btn.jpg) no-repeat left -120px;}
.res1{height:40px;line-height:40px;font-size:18px;color:#4295bf;border-bottom:4px solid #afd0e1;padding-left:22px;}
.res_table{width:100%;}
.res_table tr th{height:42px;color:#000;background:url(../images/res_bj.jpg) repeat-x left top;font-weight:normal;}
.res_table tr td{height:99px;border-bottom:1px solid #e6e6e6;text-align:center;color:#575757;}
.res_table tr td p{float:right;border:1px solid #dcdcdc;width:42px;height:42px;}
.res_table tr td font{float:left;text-align:left;color:#b0b0b0;padding-left:10px;}
.res_table tr td font b{font-size:14px;color:#595758;line-height:24px;}
.res_table tr td input{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -150px; cursor:pointer;}
.res_table tr td span{padding:0 5px;}
.res2{height:58px;line-height:58px;text-align:center;}
.res2 a{font-size:16px;color:#5f5f5f;}
.res2 a:hover{color:#3894ff;}
.res3{height:40px;line-height:40px;text-align:center;}
.res3 font{font-size:12px;color:#5e5e5e;}
.res3 a{color:#fe7e00;padding-left:15px;}

/* 关于云金融 financial*/
.financial{float:right;width:790px;padding:1px;min-height:418px;height:100%;_height:418px;}

/* 意见反馈 opinion */
.opinion{width:100%;height:8px;background:#e9f1f4;font-size:0;}
.opinion1{width:520px;margin:0 auto;padding-top:33px;}
.opinion1_1{float:left;width:139px;}
.opinion1 p{line-height:34px;font-size:14px;color:#767676;}
.opinion1 p b{color:#ff5f01;}
.opinion1 input{height:26px;line-height:26px;font-size:14px;}
.opinion1_1 input{width:113px;}
.opinion1_2{float:left;width:207px;}
.opinion1_2 input{width:204px;}
.opinion1_3{float:right;width:150px;}
.opinion1_3 input{width:140px;}
.opinion2{width:520px;margin:0 auto;padding-top:15px;}
.opinion2 p{line-height:34px;font-size:14px;color:#767676;}
.opinion2 p b{color:#ff5f01;}
.opinion2 textarea{width:512px;height:80px;}
.opinion3{width:520px;padding-top:20px;margin:0 auto;}
.opinion3_1{height:50px;}
.opinion3_1 p{float:left;width:92px;line-height:35px;font-size:14px;color:#767676;}
.opinion3_1 p b{color:#ff5f01;}
.opinion3_1 a{padding-left:10px;font-size:12px;color:#000;}
.opinion3_2{padding-left:92px;height:45px;}
.opinion3_2 input{width:112px;height:22px;border:1px solid #aaadb2;background:#fff;line-height:22px;}
.opinion4{padding:15px 0;text-align:center;}
.opinion4 input{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -210px; cursor:pointer;}

/* 什么是云金融 financial */
.fin{width:730px;padding:25px 0 0 0;margin:0 auto;}
.fin p{line-height:27px;font-size:12px;color:#333; text-indent:2em;padding-bottom:20px;}
 
/* 我的消息 message */
.message{width:690px;margin:0 auto;padding-top:15px;}
.message1{height:25px;line-height:25px;font-size:12px;color:#000;padding:10px 0 0 10px;}
.message1 b{color:#ff5f01;}
/* js css 开始*/
.mes_tit{width:100%;height:23px;line-height:23px;text-align:center;border-bottom:1px solid #e3e6eb;font-size:12px;olor:#000; cursor:pointer; clear:both; overflow:hidden;}
.mes_tit span{float:left;width:37px;height:23px;}
.mes_tit span input{margin-top:5px;_margin-top:0;*margin-top:0;}
.mes_tit span img{margin-top:5px;}
.mes_tit font{width:147px;float:left;font-size:12px;}
.mes_tit p{float:left;width:340px;padding:0 5px;}
.mes_tit a{float:left;width:115px;}
.mes_tit1{width:100%;font-weight:bold;height:23px;line-height:23px;text-align:center;border-bottom:1px solid #e3e6eb;font-size:12px;olor:#000; background:#f2f8fd;cursor:pointer; clear:both; overflow:hidden;}
.mes_tit1 span{float:left;width:37px;height:23px;}
.mes_tit1 span input{margin-top:5px;_margin-top:0;}
.mes_tit1 span img{margin-top:5px;}
.mes_tit1 font{width:147px;float:left;font-size:12px;}
.mes_tit1 p{float:left;width:340px;padding:0 5px;}
.mes_tit1 a{float:left;width:115px;}
.n_content{color:#333;background:#f2f8fd;padding:15px 40px;line-height:20px;margin-bottom:3px;text-align:left;}
/* js css 结束*/
.message2{width:100%;height:21px;line-height:21px;text-align:center;border-top:1px solid #c1c8d2;border-bottom:1px solid #c1c8d2;font-size:12px;olor:#000;background:#f2f4f6; clear:both; overflow:hidden;}
.message2 span{float:left;width:35px;height:21px;border-right:1px solid #c6c9ca;border-left:1px solid #fff;}
.message2 span input{margin-top:4px;_margin-top:0;*margin-top:0;}
.message2 span img{margin-top:5px;}
.message2 font{float:left;font-size:12px;width:145px;border-right:1px solid #c6c9ca;border-left:1px solid #fff;}
.message2 p{float:left;width:350px;border-right:1px solid #c6c9ca;border-left:1px solid #fff;}
.message2 a{float:left;width:115px;border-left:1px solid #fff;}
.message3{width:690px;margin:0 auto;padding:15px 0 0 0;}
.message3_1{float:right;width:390px;height:40px;}
.message3_2{float:left;width:240px;}
.message3_2 input{margin-left:10px;_margin-left:8px;}
.message3_2 font{font-size:12px;padding-left:3px;}
.n_btn5{width:50px;height:24px;line-height:24px;font-size:12px;color:#000;background:url(../images/del_btn.jpg) no-repeat left top;}
.n_btn6{width:74px;height:24px;line-height:24px;font-size:12px;color:#000;background:url(../images/n_yidu.jpg) no-repeat left top;}

/*编辑资料 editdata */
.edit{padding-top:20px;}
.editd{background:#f5f7f8;height:37px;line-height:37px;font-size:12px;color:#e17025;padding:0 0 0 23px;margin-top:1px;}
.editd1{width:665px;margin:0 auto;height:30px;line-height:30px;padding:10px 10px 0 10px;border-bottom:1px solid #e3e6eb;}
.editd1 font{float:left;font-size:12px;font-weight:bold;color:#000;}
.editd1 a{float:right;color:#408dab;}
.editd2{width:640px;margin:0 auto;padding:10px 0 0 0;}
.editd2 p{height:38px;line-height:35px;font-size:12px;color:#000;}
.editd2 p font{float:left;width:65px;font-size:12px;text-align:right;}
.editd2 p span{float:left;width:255px;padding-left:5px;text-align:left;}
.editd3{width:178px;height:23px;line-height:23px;margin-top:5px;border:1px solid #e2e3ea;}
.editd4{width:500px;margin:0 auto;height:65px;padding-top:30px;text-align:center;}


/*我的提问 MyQuestions*/
/* 折叠文字 js样式 */
#nav{margin:0 auto;width:710px;padding:10px 0 30px 0;}
#nav em{color:#000;}
.title{height:34px;line-height:34px;border-bottom:1px dashed #ddd;font-size:12px;color:#777;padding:0 13px 0 30px;cursor:pointer;background:url(../images/n_xia.jpg) no-repeat 10px center;}
.title a{float:left;color:#000}
.title a:hover{font-weight:bold; text-decoration:none;}
.title font{float:right;font-size:12px;}
.title span{float:right;width:150px;font-size:12px;text-align:right;}
.title1{height:34px;line-height:34px;border-bottom:1px dashed #ddd;font-size:12px;color:#3b639f;padding:0 13px 0 30px;background:url(../images/n_shang.jpg) no-repeat 10px center;cursor:pointer;}
.title1 a{float:left;font-weight:bold;color:#3b639f; text-decoration:none;}
.title1 font{float:right;font-size:12px;}
.title1 span{float:right;width:150px;font-size:12px;text-align:right;}
.content li{color:#333;background:#f1f7fc;padding:5px 28px;line-height:20px;margin-bottom:2px;}

/* 修改密码 Password */
.password{width:400px;margin:0 auto;padding:70px 0 0 0;}
.password table{color:#000;font-size:12px;}
.password table th{text-align:right;padding-right:5px;font-weight:normal;height:45px;line-height:28px;}
.password table td{padding-left:5px;height:45px;}
.password table td input{width:178px;height:26px;line-height:26px;}
.password table td input.p_save{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -240px; cursor:pointer;margin:20px 65px 0 0px;}
.password table td input.p_cancel{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -270px; cursor:pointer;margin-top:20px;}

/*404错误页面*/
.error{width:495px;margin:0 auto;padding:60px 0 0 0;}
.error1{float:left;width:283px;padding-top:30px;}
.error1 input{display:block;width:133px;height:29px;background:url(../images/btn.jpg) no-repeat left -360px;margin:0 auto;margin-top:25px; cursor:pointer;}
.error1 p{height:57px;line-height:57px;text-align:center;font-size:12px;color:#000;}
.error2{float:right;width:172px;height:253px;background:url(../images/404_2.jpg) no-repeat right top;}

/*===========弹出框代码 开始============*/
/*订单取消*/
.pop_cancel{width:250px;margin:0 auto;}
.pop_cancel1{height:88px;line-height:88px;font-size:16px;color:#000;font-weight:bold;padding-left:40px;background:url(../images/pop_cancel1.jpg) no-repeat left center;}
.pop_cancel2{text-align:center;}
.pop_cancel2 input{ cursor:pointer;margin:0 15px;}
.cancel_det{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -330px;}
.cancel_can{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -270px;}

/*联系方式  身份信息 编辑*/
.pop_contact{margin:0 auto;padding:20px 0;}
.pop_contact p{height:38px;line-height:35px;font-size:12px;color:#000;}
.pop_contact p font{float:left;width:125px;font-size:12px;line-height:28px;text-align:right;}
.pop_contact p span{float:left;width:255px;padding-left:5px;text-align:left;}
.pop_contact p span input{width:183px;height:26px;line-height:26px;}
.pop_contact1{padding:20px 0 0 0;text-align:center;}
.pop_contact1 input{ cursor:pointer;margin:0 15px;}
.pop_save{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -240px; cursor:pointer;margin:20px 65px 0 35px;}

/*我要提问*/
.pop_question{width:505px;margin:0 auto;}
.pop_question1{height:45px;line-height:45px;margin:0 auto;}
.pop_question1 span{float:left;font-size:16px;color:#000;font-family:"Microsoft YaHei",SimSun;}
.pop_question1 font{float:right;font-size:12px;color:#999;}
.pop_question1 font em{color:#000;}
.n_srk2{background:#fff;border:1px solid #ccc;}
.pop_question2{width:498px;height:28px;}
.pop_question3{height:30px;line-height:30px;font-size:12px;color:#000;}
.pop_question3 font{font-size:12px;color:#999;}
.pop_question4{clear:both; overflow:hidden;}
.pop_question5{width:498px;height:80px;}
.pop_question6{width:498px;position:relative;}
.pop_question7{width:95px;height:23px;line-height:23px;}
.pop_table3{width:100%;}
.pop_table3 tr th{text-align:right;font-weight:normal;color:#000;padding-right:10px;}
.pop_table3 tr td{height:43px;font-size:12px;}
.pop_table3 tr td span{font-size:14px;line-height:25px;color:#e17025;padding-left:15px;}
.pop_table3 tr td input{float:left;margin-right:15px;height:26px;line-height:26px;}
.pop_table3 tr td img{float:left;}
.pop_table3 tr td a{color:#0090ff;font-size:12px; text-decoration:underline;margin-left:25px;}
.pop_table3 tr td b{font-weight:normal;}
.pop_submit{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -210px; cursor:pointer;}

/*切换城市*/
.pop_city{line-height:30px;padding:0 20px;}
.pop_city a{color:#777;padding-right:10px;}
.pop_city a:hover{color:#ff5f01;}
.pop_city2{padding:15px 20px 0 20px;line-height:30px;}
.pop_city2 b{color:#ff5f01;}
.pop_city3{padding:20px 50px 0;text-align:right;}
.pop_switch{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -420px; cursor:pointer;}

/*贷款申请信息*/
.loan{width:410px;margin:0 auto;}
.loan table tr th{height:37px;font-size:14px;color:#000;text-align:right;font-size:14px;line-height:28px;font-weight:normal;}
.loan table tr td{height:37px;}
.loan table tr td input{width:172px;height:26px;line-height:26px;}
.loan table tr td select{width:178px;height:26px;line-height:26px;padding-right:0;}
.loan2{padding-top:33px;text-align:right;padding-right:15px;}
.loan_next{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -300px; cursor:pointer;}

.loan_no{padding-left:40px;background:url(../images/loan_no.jpg) no-repeat left top;margin:0 30px;}
.loan_no b{line-height:35px;font-size:16px;color:#000;}
.loan_no p{line-height:25px;font-size:12px;color:#333;}
.loan_no2{padding-top:30px;text-align:center;margin:0 30px;}
.loan_other{width:133px;height:29px;background:url(../images/btn.jpg) no-repeat left -450px; cursor:pointer;}

.loan_question{padding:0 30px;}
.loan_question p{height:25px;line-height:25px;font-size:14px;color:#ff5f01;font-weight:bold;}
.loan_question1{padding:10px 0 5px 0;line-height:21px;color:#000; clear:both; overflow:hidden;}
.loan_question2 label{padding-right:10px;}
.loan_question2 textarea{height:40px;padding:3px;line-height:23px;color:#333;width:385px;}
.loan_question1 input{float:left;width:172px;height:26px;line-height:26px;}
.loan_question1 font{float:left;padding-right:10px;font-size:12px;line-height:28px;}
.loan_question1 span{float:left;line-height:21px;color:#555;}

.loan_yes{padding:0 30px;line-height:23px;}
.loan_yes font{line-height:30px;font-size:14px;font-weight:bold;color:#ff5f01;}
.loan_imme{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -480px; cursor:pointer;margin-right:30px;}
.loan_skip{width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -510px; cursor:pointer;}

.pop_tx{padding:10px 0;color:#000;line-height:22px;border-top:1px solid #e6e6e6;margin-top:15px;}
.pop_tx b{font-size:14px;color:#ff5f01;}

.pop_email{margin:0 auto;margin-top:30px;padding-left:105px;margin-left:50px;background:url(../images/send.jpg) no-repeat left top;}
.pop_email1{height:45px;color:#000;}
.pop_email2{height:60px;}
.pop_email2 span{float:left;line-height:28px;padding-right:5px;}
.email{float:left;width:172px;height:26px;line-height:26px;margin-right:15px;}
.pop_send{float:left;width:94px;height:29px;background:url(../images/btn.jpg) no-repeat left -540px; cursor:pointer;margin-left:25px;}
